aiofiles
pyrofork
tgcrypto
python-dotenv
fastapi[standard]
parse-torrent-title
requests
jinja2
motor
themoviedb
pytz
pycountry
httpx
aiofiles
hachoir
PyJWT
python-multipart
passlib[bcrypt]
bcrypt==3.2.0
